.tabs-menu {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0 -1.8rem 3.8rem;
  z-index: 2;
}

.arrow-wrapper {
  box-shadow: var(--box-shadow);
  background: var(--card-bg);
  transition: var(--transition);
  padding: var(--element-padding);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.arrow {
  height: 1rem;
  aspect-ratio: 1/1;
  user-select: none;
}

.arrow-wrapper:hover {
  background: var(--hover-bg);
  color: var(--text-primary);
  transform: var(--transform);
  transition: var(--transition);
  cursor: pointer;
}

.arrow-wrapper:active {
  transform: scale(1);
}
