.reports-container {
  padding: 1rem;
  color: white;
  margin-left: 22rem;
}

.reports-container h4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.report-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
  color: var(--dark-gray);
}

.report-item {
  margin: 1rem 0;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
}

.report-text,
.report-header {
  margin: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
